<!DOCTYPE html>
<html>
  <title>{{form}}</title>
  <link rel="icon" type="jpg" href="abc.jpg" />
  <link rel="stylesheet" href="form.css">
  

<body>
  <ul>
    <li><a  href="/">Home</a></li>
    <li><a  class="active" href="/form">FORM</a></li>

  </ul>

  <div>
    <form action="/submit" method="post">
      <label for="pname">Product Name</label>
      <input type="text" id="fname" name="text1" placeholder="Your name..">

      <label for="lname">Last Name</label>
      <input type="text" id="lname" name="text2" placeholder="Your last name..">

     

      <input type="submit" value="Submit">
    </form>
  </div><br>

  

    <footer class="footer mt-auto py-3 bg-light">
  <div class="footer-container">
    <span class="text-muted">CZ</span>
    <span class="text-muted">© 2017–2022</span>
  </div>
</footer>
    
      

</body>

</html>