<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{home}}</title>
    <link rel="stylesheet" href="home.css">
  
    <link rel="icon" type="jpg" href="abc.jpg" />
</head>

<body>


    <navbar>
    <ul>
        <li><a class="active" href="/">Home</a></li>
        <li><a href="/form">FORM</a></li>
       
    </ul>
    </navbar>
    <div>
        <p class="abc"> Flowers</p>
    </div>

    <div>
        <img src="abc.jpg" height="100px">
        <p class="text">

            The Semper Augustus was the most expensive tulip during the 17th-century tulip mania.The colour is white,
            with Carmine on a blue base, and with an unbroken flame right to the top wrote Nicolas van Wassenaer in 1624
            after seeing the tulip in the garden of one Dr Adriaen Pauw, a director of the new East India Company. With
            limited specimens in existence at the time and most owned by Pauw, his refusal to sell any flowers, despite
            wildly escalating offers, is believed by some to have sparked the ania.

        </p><br>
    </div>
    <div>
        <img src="abc1.jpg" height="100px">
        <p class="text">
            The Semper Augustus was the most expensive tulip during the 17th-century tulip mania.The colour is white,
            with Carmine on a blue base, and with an unbroken flame right to the top wrote Nicolas van Wassenaer in 1624
            after seeing the tulip in the garden of one Dr Adriaen Pauw, a director of the new East India Company. With
            limited specimens in existence at the time and most owned by Pauw, his refusal to sell any flowers, despite
            wildly escalating offers, is believed by some to have sparked the mania.</P>
    </div><br>
    <br>
    
    
   </body>

</html>